# Ignore these because they contain private keys.
bash/project_aliases
*_private

# Generated.
gemrc
gitconfig.erb

# Ignore this because it points to private projects.
passenger_vhosts.conf

# Ignore history file.
vim/.netrwhist
