[user]
    name = Andy Stewart
    email = boss@airbladesoftware.com

[github]
    user = airblade
    token = !security find-generic-password -gs \"GitHub API Token\" 2>&1 >/dev/null | awk '/password/ {print $2}' | tr -d \\\"

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch -vv
    l = log --abbrev-commit --graph --date=short
    lr = log --abbrev-commit --graph --date=relative
    # show commit message
    cm = log -1 --pretty=fuller
    # Undo your last commit, but don't throw away your changes
    undo = reset --soft HEAD^
    unstage = reset -q --
    fixup = commit --amend -C HEAD
    ri = !sh -c 'git rebase -i HEAD~"$1"' -
    # Expand an abbreviated SHA to a full 40 character one.
    expand = rev-parse --verify
    ctags = !.git/hooks/ctags
    fad = !sh -c 'git add $(git diff --name-only | fzf -m --height=10)'
    edit-modified = "!f() { git ls-files --modified | cut -f2 | sort -u ; }; vim - $(f)"
    todo = !git --no-pager diff -U0 master | grep \"^+.*\\(TODO\\|FIXME\\)\" | sed \"s/^+//\" | git --no-pager grep -nFf -
    first = rev-list --max-parents=0 HEAD
[apply]
    whitespace = nowarn

[format]
    ; pretty = format:%C(yellow)%h%Creset%Cgreen%d%Creset %s %C(blue)%ad %C(cyan)%an
    pretty = format:%C(green)%h%Creset %C(blue)%ad%Creset %s%C(yellow)%d

[color]
    status = auto
    branch = auto
    diff = auto
    interactive = auto
    ui = true

[gc]
    auto = 1

[push]
    default = tracking

[merge]
    summary = true

[core]
    attributesFile = ~/.gitattributes
    excludesFile = ~/.gitignore
    pager = diff-highlight | less -FRX
    untrackedCache= true

[browser "gitscm"]
    cmd = /bin/sh -c 'open http://git-scm.com/docs/$(basename $1 .html)' --
[help]
    browser = gitscm

[credential]
    helper = osxkeychain
	helper = /usr/local/share/gcm-core/git-credential-manager-core

[init]
    templateDir = ~/.git_template
	defaultBranch = main

[status]
    showUntrackedFiles = all
[diff]
	mnemonicPrefix = true
  colorMoved = zebra
